.intro {
    display: flex;
    height: 100vh;
    background-color: rgb(47, 24, 41);
}

.intro-left {
    flex: 1;
    width: 100%;
    margin: 15rem 2rem 0 3rem ;
    background-color: rgb(48, 45, 45);
}

.intro-right {
    flex: 1;
    background-color: burlywood;
}

.left-wrapper {
    display: flex;
    justify-content: flex-start ;
    flex-flow: column;
}

.left-wrapper h2 {
    font-size: 2.5rem;
    font-weight: 750;
    color: transparent;
}

.left-wrapper h2::before {
    font-size: 2.5rem;
    font-weight: 750;
    color: antiquewhite;
    overflow: hidden;
    border-right: 1px solid wheat;
    animation: presentation 12s linear infinite;
}

@keyframes presentation {
    0% {
        width: 0;
    }

    50% {
        width: 100;
    }

    100% {
        width: 0;
    }
}
